---
layout: default
title: "Home"
fulltitle: "Homepage : Christy McCarron 2018"
mainPage: true
order: 1
---
<h1 class="pageTitle">Welcome to the {{ page.title }} page </h1>


<!-- Card 1 - slideshow  -->
<div class="flexGrid">
{% for node in site.pages%}
{% if node.displayOnHome == true %}
<div class="topImageContainer" style ="width:100%">
<img src= {{node.image}} alt= {{node.title}}>
<h1 class = "topImageTitle"> {{node.title}} </h1>
<div class="button"> <a href= {{node.url}}> Show More! </a>  </div>
</div>
{% endif %}
{% endfor %}




<!-- Cards of dynamic images - services  -->

{% for node in site.pages%}
{% if node.path contains 'services/' %}



  <div class="card" style="width: 300px;">
    <img class="card-img-top" src={{ node.image }} alt="">
    <div class="card-body">
      <h4 class="card-title"> {{node.title}} </h4>
      <p class="card-text"> {{node.description}} </p>
      <a href={{node.url}} class ="btn btn-primary"> More Info!</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
