<div class="footerPush">

</div>

<footer class="footer">
  <div class="social media bar">
    <ul>
      <a href="https://www.facebook.com"><img src="images/socialLogos/facebook.png" alt="facebook"> </a>
      <a href="https://www.twitter.com"><img src="images\socialLogos\twitter.png" alt="twitter"> </a>
      <a href="https://www.linkedin.com"><img src="images\socialLogos\linkedin.png" alt="linkedin"> </a>
      <a href="https://www.youtube.com"><img src="images\socialLogos\youtube.png" alt="youtube"> </a>
      <a href="https://www.github.com"><img src="images\socialLogos\github-logo.png" alt="github"> </a>
    </ul>
  </div>
</footer>
